$mycolor: #ff6978;
$coffee: #352d39;
@mixin marginAuto {
    margin: 0 auto;
}

.label {
    @include marginAuto();
    text-align: center;
    display: block;
    font-weight: 700;
}

input.register-submit {
    @include marginAuto();
    margin-top: 2%;
    display: block;
    text-align: center;
    color: white;
    background-color: rgba($color: $mycolor, $alpha: 0.5);
    border: none;
    border-radius: 0.50em;
}